/* #search {
  text-align: center;
} */
#contbo {
  padding-bottom: 15px;
}
#navbot {
  visibility: hidden;
}
#navadar {
  float:right;
}
#navadar li {
  padding: 20px;
}
#memo {
  border-right: 1px;
  border-color: grey;
}
#buttonahs {
  text-align: left;
  padding: 5px;
}
#buttonah {
  float: right;
}
#icono {
  font-size: 40px;
}
#more {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
#commento {
  text-align: left;
  padding: 5px;
}
#comments {
  border-bottom: 2px solid grey;
  font-size: 15px;
  padding: 2px;
}
@media only screen and (max-width: 540px) {
  #seacher {
    visibility: hidden;
  }
  #navadar li {
    padding: 5px;
  }
  #navbot {
    visibility: visible;
  }
}
/* @media only screen and (max-width: 340px) {
  #ndogo {
    display: none;
  }

} */
